<!-- About Me Page -->
<div class="bg-light p-4 border rounded border-dark" id="aboutPage">
        <h3 class="border-bottom border-dark pb-1 mb-3 text-info">About Me</h3>
    <div class="row">
        <div class="col-12 col-md-5 col-lg-4 mt-1">
            <div class="card rounded-0 border-dark">
                <img class="card-img-top" src="/images/Marathon.jpg" alt="Card image cap">
                <div class="card-body p-1">
                    <p class="card-text text-muted"><i>With my mom after finishing the Phoenix Rock and Roll Marathon.</i></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-8 mt-1">
            
            <div class="row">
                <div class="col-12">
                    <p class="mb-0 font-weight-bold border-bottom border-dark"><i>About Me</i></p>
                    <p>Alex Bruner is a web developer and graphic designer currently living in the Austin, TX area. He graduated from The Evergreen State College with a Bachelor's degree in music, and is currently attending the UT Austin Coding Bootcamp.</p>
                    <p>Previously, Alex worked as a retail and commercial sales manager for a specialty exercise equipment dealership in Phoenix, Arizona.</p>
                    <p>Alex is an fluent musician and lives with his faithful blue heeler, Remy. He is also an avid runner and has run the 2017 Phoenix Rock and Roll Marathon, as well as a handful of half-marathons.</p>
                    <p class="mb-0 font-weight-bold border-bottom border-dark"><i>Education</i></p>
                    <li>2018 University of Texas - Austin Coding Bootcamp</li>
                    <li>2010 Bachelors of the Arts, The Evergreen State College</li>
                    <br>
                    <p class="mb-0 font-weight-bold border-bottom border-dark"><i>Software Proficiencies</i></p>
                    <p>HTML, CSS, JavaScript, Swift, SQL, Max/MSP, Node, Firebase, GIT...</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- End of About Page -->