<!-- Home Page -->
<div class="row mt-10 mb-5" id="homePage">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-8 text-info opaque text-center">
        {{!-- <h2 class="text-light wideletter text-outline">Welcome to my Portfolio</h2> --}}
        {{!-- <h5 class="text-white wideletter mb-2 opaque">function (homePage) {</h5>
        <h5 class="text-white wideletter mb-0 opaque"><small> name: </small><b class="">Alex Bruner</b></h5>
        <h5 class="text-light wideletter mb-0 opaque"><small> type: </small><b>Web Developer</b></h5>
        <h5 class="text-light wideletter opaque mb-5"><small></small><b></b></h5> --}}
        <img class="opaque border border-white" src="/images/screenshots/msg.png" alt="">
        <div class="text-center">
            <a href="/contact"><button class="btn btn-sm btn-secondary m-2 border border-white" id="freelanceBtn">I Need a Website ></button></a>
            <a href="/contact"><button class="btn btn-sm btn-danger m-2 border border-white" id="corpBtn">I'm Looking to Hire ></button></a>
        </div>
    </div>
    <div class="col-12 col-md-2"></div> 
</div>
<!-- End of Home Page -->