<!-- Home Page -->
<div class="row mt-10" id="homePage">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-8 text-info ">
        <h2 class="text-white text-outline text-center">Hello World!</h2>
        <h4 class="text-white text-outline wideletter">My name is <span class="font-weight-bold">Alex Bruner</span>, and I am a full-stack web developer. Are you looking for a hard-working, passionate, and intelligent web developer, who can bring innovative ideas to your business?  If so, please contact me today.</h4>
        <div class="text-center">
            <a href="#contactMeForm"><button class="btn btn-secondary m-2 border border-white" id="freelanceBtn">I Need a Website ></button></a>
            <a href="#contactMeForm"><button class="btn btn-danger m-2 border border-white" id="corpBtn">I'm Looking to Hire ></button></a>
        </div>
    </div>
    <div class="col-12 col-md-2"></div> 
</div>
<!-- End of Home Page -->